.logo{
    width: 100px;
}

.headerContent{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
}

.copyrightFooter{
    text-align: end;
    font-size: 10px;
    color: greenyellow;
}